
<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle color="light">
          <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title color="light">Home</ion-title>
      <ion-buttons start hideWhen="ios">
          <button ion-button icon-only color="light">
              <ion-icon name="notifications"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons right>
          <button ion-button icon-only>
              <ion-icon name="md-more"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

<!--*********** Toolbar with segment ***********-->
<ion-toolbar no-border-top color="green">
     <ion-segment  [(ngModel)]="viewType" color="yellow">
    <ion-segment-button value="Menu">
      Menu
    </ion-segment-button>
    <ion-segment-button value="Notice">
      Notice
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

</ion-header>

<ion-content no-padding>

<!--*********** Menu View  ***********-->
<div *ngIf="viewType==='Menu'">

<ion-card tappable class="card-list-wave" (click)="openManage()">
    <div class="card-list-bg" [ngStyle]="{'background-image': 'url(' + 'https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/%EC%9E%85%EC%B6%9C%EA%B3%A0.jpg?alt=media&token=d500967c-5cf6-4650-880b-18a73ffd31ea'+ ')'}">
        <h2 class="card-list-title">입고 및 출고</h2>
        <p class="card-list-description">Do export and import!</p>
    </div>
</ion-card>

<ion-card tappable class="card-list-wave" (click)="openLog()">
        <div class="card-list-bg" [ngStyle]="{'background-image': 'url(' + 'https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/stock_search.jpeg?alt=media&token=1c63956d-d22b-4627-bd13-14f1dda466dc'+ ')'}">
            <h2 class="card-list-title">입출고 이력 검색</h2>
            <p class="card-list-description">Checkout Logs of ex,import</p>
        </div>
</ion-card>

<ion-card tappable class="card-list-wave" (click)="locationManage()">
    <div class="card-list-bg" [ngStyle]="{'background-image': 'url(' + 'https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/%EC%9C%84%EC%B9%98%EB%B3%84%20%EC%A1%B0%ED%9A%8C.jpg?alt=media&token=f6742a67-27b8-44c1-9e3c-e68d6f8aefc3'+ ')'}">
        <h2 class="card-list-title">위치별 조회</h2>
        <p class="card-list-description">Search by location</p>
    </div>
</ion-card>

</div>

<!--*********** Promotion View  ***********-->
<div *ngIf="viewType==='Notice'">
    <ion-list class="wave">
        <ion-item tappable (click)="openNoticeDetailPage(item)" *ngFor="let item of items">
            <h2>{{item.title}}</h2>
            <p>{{item.writer}}, {{item.timestamp | date}}</p>
        </ion-item>
    </ion-list>
    
<ion-fab right bottom>
        <button (click)="manage()" ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
</ion-fab>
</div>
</ion-content>