
<ion-header>
  <!-- <ion-navbar color="grey-blue">
      <button ion-button menuToggle color="light">
          <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title color="light">재고관리</ion-title>
      <ion-buttons start hideWhen="ios">
          <button ion-button icon-only color="light">
              <ion-icon name="notifications"></ion-icon>
          </button>
      </ion-buttons>

      <ion-buttons right>
          <button ion-button icon-only>
              <ion-icon name="md-more"></ion-icon>
          </button>
      </ion-buttons>
      
  </ion-navbar> -->

<!--*********** Toolbar with segment ***********-->
<ion-toolbar style="margin-top:35px" no-border-top color="grey-blue">
     <ion-segment  [(ngModel)]="viewType" color="light">
    <ion-segment-button value="Menu">
      Menu
    </ion-segment-button>
    <ion-segment-button value="Notice">
      Notice
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

</ion-header>

<ion-content no-padding [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">

<!--*********** Menu View  ***********-->
<div *ngIf="viewType==='Menu'">

        <div class="card-background-page">
                <ion-row>
    <ion-col col-12 col-md-4>
        <ion-card (click)="openManage()">
          <img src="https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/black-and-white-close-up-equipment-210881.jpg?alt=media&token=cf62ebc3-2e4f-48da-b96e-336a1381521c" height="350"/>
          <div class="card-title">입고 및 출고</div>
          <div class="card-subtitle">Do export and import</div>
        </ion-card>
            </ion-col>

    <ion-col col-12 col-md-4>
                    <ion-card (click)="openLog()">
                      <img src="https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/black-and-white-close-up-equipment-210881.jpg?alt=media&token=cf62ebc3-2e4f-48da-b96e-336a1381521c" height="350"/>
                      <div class="card-title">입출고 이력 검색</div>
                      <div class="card-subtitle">Checkout Logs of ex,import</div>
                    </ion-card>
                        </ion-col>
            
    <ion-col col-12 col-md-4>
        <ion-card (click)="locationManage()">
          <img src="https://firebasestorage.googleapis.com/v0/b/prototype-d68e4.appspot.com/o/carpentry-close-up-equipment-220638.jpg?alt=media&token=c9cc9ef5-4e7b-47f8-9640-439f01b40d1e" height="350"/>
          <div class="card-title">위치별 조회</div>
          <div class="card-subtitle">Search by location</div>
        </ion-card>
        </ion-col>
    </ion-row>
    </div>

</div>

<!--*********** Promotion View  ***********-->
<div *ngIf="viewType==='Notice'">
    <ion-list class="wave">
        <ion-item tappable (click)="openNoticeDetailPage(item)" *ngFor="let item of items">
            <h2>{{item.title}}</h2>
            <p>{{item.writer}}, {{item.timestamp | date}}</p>
        </ion-item>
    </ion-list>
    
<ion-fab  right bottom >
        <button color="grey-blue" (click)="manage()" ion-fab ><ion-icon name="add"></ion-icon></button>
</ion-fab>
</div>
</ion-content>