<style>
    @media screen and (max-width: 600px) {
      .web {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
    @media screen and (min-width: 600px) {
      .web {
        display: block;
      }
      .mobile {
        display: none;
      }
    }
  </style>

<ion-header>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  <script src="https://use.fontawesome.com/1e803d693b.js"></script>
  <ion-navbar>
    <ion-title>admin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div class="web">
  <div class="container">
    <div class="row">
      <div class="panel panel-default user_panel">
        <div class="panel-heading">
          <h3 class="panel-title">User List</h3>
        </div>
        <div class="panel-body">
          <div class="table-container" *ngFor="let item of itemList">
            <table class="table-users table" border="0">
              <tbody>
                <tr>
                  <!-- <td width="10" text-align="center">
                    <i class="fa fa-2x fa-user fw"></i>
                  </td> -->
                  <td width="100">
                      <img class="pull-left img-circle nav-user-photo" src="{{item.thumbnail}}" />  
                  </td>
                  <td>
                      {{item.name}}<br><i class="fa fa-envelope"></i>
                  </td>
                  <td align="center">
                      {{item.email}}
                  </td>
                  <td align="center">
                      {{item.phone}}
                  </td>
                  <td align="right">
                    <ion-item style="max-width:150px">
                        <ion-label>{{auth}}</ion-label>
                        <ion-select [(ngModel)]="auth">
                          <ion-option value="admin">admin</ion-option>
                          <ion-option value="editor">editor</ion-option>
                          <ion-option value="subscriber">subscriber</ion-option>
                        </ion-select>
                      </ion-item>
                  </td>
                  <td align="right">
                    <button ion-button (click)="delete(item)">삭제</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile">
    <div class="container">
      <div class="row">
        <div class="panel panel-default user_panel">
          <div class="panel-heading">
            <h3 class="panel-title">User List</h3>
          </div>
          <div class="panel-body">
            <div class="table-container" *ngFor="let item of itemList">
              <table class="table-users table" border="0">
                <tbody>
                  <tr>
                    <td>
                        {{item.name}}<br><i class="fa fa-envelope"></i>
                    </td>
                    <td align="center">
                        사번 자리
                    </td>
                    <td align="right">
                        <ion-item style="max-width:150px">
                            <ion-label>{{auth}}</ion-label>
                            <ion-select width="20" [(ngModel)]="auth" >
                              <ion-option value="admin">admin</ion-option>
                              <ion-option value="editor">editor</ion-option>
                              <ion-option value="subscriber">subscriber</ion-option>
                            </ion-select>
                          </ion-item>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</ion-content>